body{
    background-color: #30302e;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px;
}

h1 {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #8cc9e4;
    padding: 10px;
}

h2 {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #8cc9e4;
    padding: 10px;
}

.caixa{
    background-color: #252523;
    border: 2px solid #8cc9e4;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    align-content: center;
}

.caixa:hover{
    background-color: #8cc9e4;
    color: #30302e;
    transform: scale(0.9);
    box-shadow: 0 8px 16px rgba(140, 201, 228, 0.5);
}

.btn-download{
    background-color: #4caf50;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-download:hover {
    background-color: #2f7533;
}

/* active */
.btn-download:active{
    background-color: #dc5252;
}

/* :focus */
input{
    /* Largura máxima do elemento */
    max-width: 400px;
    padding: 12px;
    border: 2px solid #555555;
    border-radius: 5px;
    background-color: #3a3a38;
    color: white;
    font-size: 16px;
}

input:focus{
    outline: none;
    border-color: #8cc9e4;
    box-shadow: 0 0 10px rgba(140, 201, 228, 0.5);
    background-color: #252523;
}